@import 'core/Reset';
@import 'core/Variables';

// html {
//   // height: 100%;
//   // background-color: $color-dark;
// }
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  --color: #ffffffbb;
  background-color: #f8edeb;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
}
