@import '../core/Reset';
@import '../core/Variables';
@import '../core/Mixins.scss';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100vw;
  background: #fcd5ce8d;
  color: #ff9985;
  padding: 45px;
  text-align: center;
  font-family: $font-family-montserrat;

  @media (min-width: 768px) {
    height: 200px;
  }
  &__text {
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    &--title {
      gap: 10px;
      font-size: 4rem;
      font-weight: bold;
      @media screen {
        width: 100%;
      }
    }
    &--icon {
      font-size: 4.2rem;
    }
    &--subtitle {
      font-size: 1.8rem;
      font-weight: 300;
      @media screen {
        padding: 20px;
      }
    }
  }
  a {
    color: white;
  }
  &__btnAdd {
    @include button(rgba(#ff9985, 0.8), white);
  }
  &__btnView {
    @include button($melon, $black);
  }
}
