.landing {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 80vh;

  &__cards {
    display: grid;
    grid-row-gap: 20px;
    justify-items: center;
    margin: 50px 5px;
    // height: 80vh;
    a {
      text-decoration: none;
    }
    @media (min-width: 768px) {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      width: 90vw;
    }
  }
}
