@import '../core/Reset';
@import '../core/Variables';

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;

  &__form {
    padding: 50px;
    color: #ffb5a7;
    display: flex;
    flex-direction: column;
    border: 1px solid #ffb5a7;
    gap: 10px;
    font-size: 2rem;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    margin: 30px;

    h3 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 10px;
    }
    input {
      background-color: $color-white;
      border: none;
      padding: 10px;
      font-size: 1.4rem;
      border-radius: 10px;
      color: $color-dusk;
      box-shadow: 0 0.4rem #fec89a;
      cursor: pointer;
      margin-bottom: 10px;
    }
    &--login {
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      background-color: #ffb5a7;
      border-radius: 20px;
      border: none;
      width: 100px;
      padding: 5px 10px;
      align-self: center;
    }
    &--text {
      text-align: center;
      font-size: 1.8rem;
      a {
        text-decoration: none;
      }
    }
    &--msg {
      margin-top: 10px;
      background-color: rgba(255, 255, 255, 0.81);
      animation: bounce-in-fwd 1s both;
    }
    @keyframes bounce-in-fwd {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
      }
      38% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
      }
      55% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
      72% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }
      81% {
        -webkit-transform: scale(0.84);
        transform: scale(0.84);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
      89% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }
      95% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }
    }
  }
}
