@mixin button($background-color, $color) {
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $background-color;
  color: $color;
  border-radius: 20px;
  width: 120px;

  padding: 8px;
  margin: 20px 0 0;
  text-align: center;
  text-decoration: none;
  @media (min-width: 768px) {
    font-size: 1.4rem;
    width: 170px;
  }
}
